a.active hr {
    /* display: block; */
    opacity: 1;
}

a.active .menu {
    /* display: block; */
    opacity: 1;
}

.sidebar-menu.active {
    background: linear-gradient(120deg, rgb(38, 255, 227, 0.2) 50%, transparent 80%);
}

.sidebar-menu-mobile.active {
    background-color: #00008b;
    color: white;
}

.show {
  /* display: flex; */
  visibility: visible;
}

.not-show {
  /* display: hidden; */
  position: absolute;
  visibility: hidden;
}